<head>
    <title>User Details</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link href="css/layout.css" rel="stylesheet">
    <link href="css/media.css" rel="stylesheet" media="all">
    <link href="https://cdn.syncfusion.com/ej2/23.1.36/ej2-icons/styles/tailwind.css" rel="stylesheet">
    <link href="https://cdn.syncfusion.com/ej2/22.1.36/tailwind.css" rel="stylesheet">
    <link href="css/pretty-checkbox.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <style>
        .ant-select-arrow,
        .ant-select-clear {
            top: 45% !important;
            margin-top: -12px !important;
        }
        img {
            border: 0;
        }
        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            margin: 0;
            padding: 0;
            font-weight: 400;
        }
        ul,
        ol {
            margin: 0;
            padding: 0;
            list-style: none;
        }
        a {
            color: #006990;
        }
        h1,
        h2 {
            color: #435064;
            font-weight: inherit;
        }
        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            margin: 10px 0;
        }
        h1 {
            font-size: 24px;
            line-height: 25px;
        }
        .row-fluid {
            width: 100%;
            display: inline-block;
        }
        .pull-left {
            float: left;
        }
        .badge-success,
        .bar-success,
        .btn-success,
        .dhx_save_btn_set,
        .label-success {
            background: #79a02c !important;
            color: #333 !important;
            text-shadow: none !important;
        }
        .badge-warning,
        .bar-warming,
        .btn-warning,
        .label-warning {
            background: rgb(102, 22, 22) !important;
            color: #fff !important;
            text-shadow: none !important;
        }
        .badge-default,
        .label-default {
            background-color: #ccc !important;
            color: #333 !important;
        }
        .tab-style {
            font-size: 14px;
            font-weight: 400;
        }
        .pull-right {
            float: right;
        }
        .input-append input[class*="span"],
        .input-append .uneditable-input[class*="span"],
        .input-prepend input[class*="span"],
        .input-prepend .uneditable-input[class*="span"],
        .row-fluid input[class*="span"],
        .row-fluid select[class*="span"],
        .row-fluid textarea[class*="span"],
        .row-fluid .uneditable-input[class*="span"],
        .row-fluid .input-prepend [class*="span"],
        .row-fluid .input-append [class*="span"] {
            display: inline-block;
        }
        .form-horizontal .control-label {
            float: left;
            width: 160px;
            padding-top: 5px;
            text-align: right;
        }
        span.anticon:hover {
            cursor: pointer;
        }
        .dropdown:after {
            content: "\e729";
            font-weight: 900;
            font-family: e-icons;
            position: absolute;
            top: 5px;
            right: 5px;
            font-size: 18px;
            color: #6b7280;
        }
        span.icon-cms-indicator {
            height: 20px !important;
            width: 20px !important;
            background-repeat: no-repeat;
            vertical-align: top;
            cursor: pointer;
            position: relative;
            background-image: none;
            margin-top: 0;
            margin-left: 5px;
        }
        span.icon-cms-indicator:before {
            content: "";
            height: 18px;
            width: 20px;
            vertical-align: top;
            cursor: pointer;
            position: absolute;
            border-radius: 20px;
            border: 1px solid #006990;
            top: 0;
            left: 0;
        }
        span.icon-cms-indicator:after {
            content: "CMS";
            position: absolute;
            font-size: 9px !important;
            color: #006990;
            font-weight: 700 !important;
            left: 1px;
            top: 3px;
        }
        .form-horizontal .control-group {
            margin-bottom: 10px;
        }
        .margin-bottom-small {
            margin-bottom: 10px !important;
        }
         .e-dashboardlayout.e-control .e-panel.e-panel-transition {
            width: 100% !important;
        }
        textarea,
        input[type="text"],
        input[type="password"],
        input[type="datetime"],
        input[type="datetime-local"],
        input[type="date"],
        input[type="month"],
        input[type="time"],
        input[type="week"],
        input[type="number"],
        input[type="email"],
        input[type="url"],
        input[type="search"],
        input[type="tel"],
        input[type="color"],
        .uneditable-input {
            background-color: #fff;
            border: 1px solid #ccc;
            box-shadow: inset 0 1px 1px #00000013;
            transition: border linear 0.2s, box-shadow linear 0.2s;
        }
        select,
        textarea,
        input[type="text"],
        input[type="password"],
        input[type="datetime"],
        input[type="datetime-local"],
        input[type="date"],
        input[type="month"],
        input[type="time"],
        input[type="week"],
        input[type="number"],
        input[type="email"],
        input[type="url"],
        input[type="search"],
        input[type="tel"],
        input[type="color"],
        .uneditable-input {
            display: inline-block;
            height: 30px;
            padding: 4px 6px;
            margin-bottom: 10px;
            font-size: 14px;
            line-height: 30px;
            color: #555;
            vertical-align: middle;
            border-radius: 4px;
        }
        .btn {
            display: inline-block;
            padding: 4px 12px;
            margin-bottom: 0;
            font-size: 14px;
            line-height: 20px;
            color: #333;
            text-align: center;
            vertical-align: middle;
            cursor: pointer;
            background-color: #f5f5f5;
            border-radius: 4px;
            font-weight: 600;
            border: 0;
        }
        .badge-info,
        .bar-info,
        .btn-info,
        .btn-primary,
        .label-info {
            background: #006990 !important;
            color: #fff !important;
        }
        .tooltip-wrapper {
            display: inline-block;
        }
        .btn-default:not(.btn-primary):not(.btn-info):not(.btn-danger):not(.btn-warning):not(.btn-success):not(.btn-link),
        :not(.input-append):not(.input-prepend) > .btn:not(.btn-primary):not(.btn-info):not(.btn-danger):not(.btn-warning):not(.btn-success):not(.btn-link) {
            background-color: #fff;
            border: 1px solid #006990;
        }
        .ant-checkbox-checked .ant-checkbox-inner {
            background-color: #175a6b;
            border-color: #00f;
        }
        button:disabled {
            color: #d3d3d3 !important;
        }
        button:disabled:hover {
            cursor: not-allowed;
        }
        .tab-style .tab-pane {
            padding: 25px 0;
        }
        .row-fluid [class*="span"]:first-child {
            margin-left: 0;
        }
        h4.title {
            margin-bottom: 18px;
            font-size: 18px;
            color: #435064;
        }
        .form-horizontal .controls {
            margin-left: 200px;
        }
        .controls .span6 {
            width: 270px;
        }
        .color-cornerstone-blue {
            color: #006990;
        }
        textarea {
            overflow: auto;
            vertical-align: top;
            height: 70px;
        }
        .radio,
        .checkbox {
            min-height: 20px;
            padding-left: 20px;
        }
        .radio input[type="radio"],
        .checkbox input[type="checkbox"] {
            float: left;
            margin-left: -20px;
            margin-top: 4px;
        }
        .controls > .radio:first-child,
        .controls > .checkbox:first-child {
            padding-top: 5px;
        }
        .input-prepend .add-on:first-child,
        .input-prepend .btn:first-child {
            border-radius: 4px 0 0 4px;
        }
        .input-append .add-on,
        .input-prepend .add-on {
            display: inline-block;
            width: auto;
            height: 30px;
            min-width: 28px;
            padding: 4px 5px;
            font-size: 14px;
            font-weight: 400;
            line-height: 20px;
            text-align: center;
            text-shadow: 0 1px 0 #fff;
            background-color: #eee;
            border: 1px solid #ccc;
        }
        select {
            width: 220px;
            background-color: #fff;
            border: 1px solid #ccc;
        }
        .nav-tabs .nav-link {
            background: #eeeeee;
            margin: 0 1px;
            color: #006990;
        }
        .row .span5 {
            width: 40.17094017094017%;
        }
        .row .controls-row [class*="span"] + [class*="span"] {
            margin-left: 2.564102564102564%;
        }
        .input-append .add-on i,
        .input-prepend .add-on i {
            margin-top: 2px;
        }
        .row [class*="span"].margin-left-big,
        .row [class*="span"].margin-right-big {
            max-width: calc(100% - 30px);
        }
        .input-append .add-on,
        .input-append .btn,
        .input-append .btn-group {
            margin-left: -1px;
        }
    </style>
    <style>
        #sidelistwrapper .listmaincontent {
            font-size: 14px;
            padding: 0;
            height: 94vh;
        }
        .container-fluid {
            padding-right: 20mm;
            padding-left: 20mm;
        }
        .col-lg-12.col-sm-12.col-md-12,
        .control-section {
            padding: 0;
        }
        #sidelistwrapper #left {
            float: left;
            width: 30px;
            height: 47px;
        }
        #sidelistwrapper .sidebar-list {
            z-index: 20 !important;
        }
        #sidelistwrapper .e-toolbar .e-icons {
            font-size: 20px;
        }
        #sidelistwrapper .e-tbar-menu-icon:before {
            content: "\e914";
            font-family: sbicons;
        }
        .e-toolbar {
            min-height: 40px !important;
        }
        .material #sidelistwrapper .e-toolbar,
        .tailwind #sidelistwrapper .e-toolbar,
        .bootstrap5 #sidelistwrapper .e-toolbar {
            border-bottom: 1px solid #eaeaeae0;
        }
        .bootstrap5-dark #sidelistwrapper .e-toolbar,
        .tailwind-dark #sidelistwrapper .e-toolbar,
        .material-dark #sidelistwrapper .e-toolbar {
            border-bottom: 1px solid #eaeaea63;
        }
        .material #sidelistwrapper .e-toolbar .e-toolbar-items:not(.e-tbar-pos) .e-toolbar-item:first-child,
        .material-dark #sidelistwrapper .e-toolbar .e-toolbar-items:not(.e-tbar-pos) .e-toolbar-item:first-child,
        .bootstrap4.e-bigger #sidelistwrapper .e-toolbar .e-toolbar-items:not(.e-tbar-pos) .e-toolbar-item:first-child,
        .tailwind.e-bigger #sidelistwrapper .e-toolbar .e-toolbar-items:not(.e-tbar-pos) .e-toolbar-item:first-child,
        .tailwind-dark.e-bigger #sidelistwrapper .e-toolbar .e-toolbar-items:not(.e-tbar-pos) .e-toolbar-item:first-child {
            margin-left: 12px;
        }
        .e-bigger.material #sidelistwrapper .e-toolbar .e-toolbar-items:not(.e-tbar-pos) .e-toolbar-item:first-child {
            margin-left: 16px;
        }
        .bootstrap4 #sidelistwrapper .e-toolbar .e-toolbar-items:not(.e-tbar-pos) .e-toolbar-item:first-child,
        .bootstrap #sidelistwrapper .e-toolbar .e-toolbar-items:not(.e-tbar-pos) .e-toolbar-item:first-child,
        .bootstrap-dark #sidelistwrapper .e-toolbar .e-toolbar-items:not(.e-tbar-pos) .e-toolbar-item:first-child,
        .bootstrap5.e-bigger #sidelistwrapper .e-toolbar .e-toolbar-items:not(.e-tbar-pos) .e-toolbar-item:first-child,
        .bootstrap5-dark.e-bigger #sidelistwrapper .e-toolbar .e-toolbar-items:not(.e-tbar-pos) .e-toolbar-item:first-child {
            margin-left: 8px;
        }
        .bootstrap5 #sidelistwrapper .e-toolbar .e-toolbar-items:not(.e-tbar-pos) .e-toolbar-item:first-child,
        .bootstrap5-dark #sidelistwrapper .e-toolbar .e-toolbar-items:not(.e-tbar-pos) .e-toolbar-item:first-child {
            margin-left: 5px;
        }
        .bootstrap.e-bigger #sidelistwrapper .e-toolbar .e-toolbar-items:not(.e-tbar-pos) .e-toolbar-item:first-child,
        .bootstrap-dark.e-bigger #sidelistwrapper .e-toolbar .e-toolbar-items:not(.e-tbar-pos) .e-toolbar-item:first-child {
            margin-left: 10px;
        }
        .e-folder {
            text-align: center;
            font-weight: 500;
            font-size: 16px;
        }
        .e-bigger .e-folder {
            font-size: 18px;
        }
        .bootstrap5 .e-folder-name,
        .bootstrap5-dark .e-folder-name {
            margin-top: -2px;
        }
        .tailwind .e-folder-name,
        .tailwind-dark .e-folder-name,
        .bootstrap4 .e-folder-name,
        .bootstrap .e-folder-name,
        .bootstrap-dark .e-folder-name {
            margin-top: 3px;
            margin-left: 7px;
        }
        .material .e-folder-name,
        .material-dark .e-folder-name {
            margin-top: 1px;
            margin-left: 9px;
        }
        .bootstrap5 .e-template-list,
        .bootstrap5-dark .e-template-list,
        .tailwind .e-template-list,
        .tailwind-dark .e-template-list,
        .material3 .e-template-list,
        .material3-dark .e-template-list,
        .bootstrap4 .e-template-list {
            border: 0;
            border-radius: 0;
        }
        .e-template-list .e-list-item {
            line-height: 1.5;
            padding: 0 16px;
        }
        .list-wrapper {
            display: inline-flex;
            width: 100%;
        }
        .e-bigger .list-wrapper {
            padding-left: 8px;
        }
        .list-wrapper .text {
            padding-left: 14px;
        }
        .e-bigger .list-wrapper .text {
            padding-left: 20px;
        }
        .e-listbox-wrapper .list-wrapper .text {
            font-weight: 700;
            font-size: 13px;
        }
        .list-wrapper .e-avatar {
            background-color: transparent;
            float: left;
        }
        .material-dark #sidelistwrapper .e-list-item,
        .bootstrap-dark #sidelistwrapper .e-list-item {
            background-color: transparent;
        }
        .material .list-wrapper .e-avatar,
        .material-dark .list-wrapper .e-avatar,
        .highcontrast .list-wrapper .e-avatar {
            margin-top: 3px;
        }
        .fabric .list-wrapper .e-avatar,
        .fabric-dark .list-wrapper .e-avatar {
            margin-top: 6px;
        }
        .material.e-bigger .list-wrapper .e-avatar,
        .material-dark.e-bigger .list-wrapper .e-avatar,
        .highcontrast.e-bigger .list-wrapper .e-avatar {
            margin-top: 7px;
        }
        .fabric-dark.e-bigger .list-wrapper .e-avatar,
        .fabric.e-bigger .list-wrapper .e-avatar,
        .bootstrap-dark.e-bigger .list-wrapper .e-avatar,
        .bootstrap.e-bigger .list-wrapper .e-avatar {
            margin-top: 10px;
        }
        .bootstrap .list-wrapper .e-avatar,
        .bootstrap-dark .list-wrapper .e-avatar {
            margin-top: 5px;
        }
        .bootstrap5 .list-wrapper .e-avatar,
        .bootstrap5-dark .list-wrapper .e-avatar {
            margin-top: -3px;
        }
        .tailwind .list-wrapper .e-avatar,
        .tailwind-dark .list-wrapper .e-avatar {
            margin-top: -1px;
        }
        .bootstrap5.e-bigger .list-wrapper .e-avatar,
        .bootstrap5-dark.e-bigger .list-wrapper .e-avatar {
            margin-top: 0;
        }
        .e-bigger.bootstrap5 .sidebar-list .e-listview:not(.e-list-template) .e-list-item,
        .e-bigger.bootstrap5-dark .sidebar-list .e-listview:not(.e-list-template) .e-list-item {
            height: 43px;
        }
        .bootstrap4.e-bigger .sidebar-list .e-listview:not(.e-list-template) .e-list-item {
            padding: 12px 14px;
        }
        
        .material-dark #sidelistwrapper .content {
            color: #fff;
        }
        .material .sidebar-list,
        .fabric .sidebar-list,
        .tailwind .sidebar-list,
        .highcontrast .sidebar-list,
        .bootstrap5 .sidebar-list {
            border-right: 1px solid #eaeaeae0;
        }
        .material-dark .sidebar-list,
        .fabric-dark .sidebar-list,
        .tailwind-dark .sidebar-list,
        .bootstrap5-dark .sidebar-list {
            border-right: 1px solid #eaeaea63;
        }
    </style>
    <link href="css/customform.css" rel="stylesheet">    
</head>
<body class="mat-typography e-lib e-touch">
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.3/jquery.min.js"></script>   
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>    
     <div id="sidelistwrapper">

         <div class="listmaincontent e-sidebar-context">
             <div class="e-content-animation" style="transform: translateX(0px); margin-left: 0px;">
                 <div id="listContent" class="listcontent">
                     <app-client _nghost-ng-c2137605247="" class="ng-star-inserted">
                         <section class="main-wrapper horizontalform-custom">
                             <div class="container" style="padding-top: 2rem !important; max-width: 80vw;">
                                 <div class="row">
                                     <div class="col-md-12 tab-style">

                                         <div id="myTabContent" class="tab-content">
                                             <div id="home-tab-pane" role="tabpanel" aria-labelledby="home-tab" tabindex="0" class="tab-pane fade show active ng-touched ng-valid ng-dirty">
                                                 <div id="common">
                                                     <div class="row-fluid">
                                                         <div class="span6">
                                                             <h1 class="title">
                                                                 <img src="images/edit-icon.png" alt="Edit" class="mb-4"><br>
                                                                 Edit Details for Fredrick Gislason
                                                             </h1>
                                                         </div>
                                                     </div>                                                    
                                                 </div>
                                                 <div style="position: relative;">
                                                     <fieldset>
                                                         <div class="form-horizontal">
                                                             <div class="container-fluid p-5 pb-0">
                                                                 <div class="row form-row">
                                                                     <div class="col-lg-6 col-md-12 p-0">
                                                                         <fieldset>
                                                                             <div class="control-group">
                                                                                 <h4 class="title" style="display: inline-block;">Deacon Information</h4>
                                                                                 <span id="warningDuplicatedClient" class="badge" style="display: none;"></span>
                                                                             </div>
                                                                            <div class="control-group">
                                                                                <div class="controls">
                                                                                <nz-form-item class="ant-form-item ant-row">
                                                                                    <nz-form-control nzerrortip="Please input Title!"
                                                                                                     class="ant-form-item-control ng-tns-c630436078-13 ant-col ng-star-inserted">
                                                                                        <div class="ant-form-item-control-input ng-tns-c630436078-13">
                                                                                            <div class="ant-form-item-control-input-content ng-tns-c630436078-13">
                                                                                                <nz-input-group class="ng-tns-c630436078-13 ant-input-group">
                                                                                                    <select name="DeaconPosition"
                                                                                                            tabindex="1"
                                                                                                            formcontrolname="DeaconPosition"
                                                                                                            nz-select=""
                                                                                                            placeholder="Deacon Position"
                                                                                                            class="span6 form-control">
                                                                                                        <option value="5ECBD763-893D-400B-AFC8-12D6C8E6CF17" class="ng-star-inserted"> Administration </option>
                                                                                                        <option value="4ABB13A3-E3B1-462E-9551-177202E32024" class="ng-star-inserted"> Captain </option>
                                                                                                        <option value="EA618708-BB62-4F49-A17C-D23D3492D5AA" class="ng-star-inserted"> Choir </option>
                                                                                                        <option value="7AF85F53-668E-47D2-969D-09B88F5C3F39" class="ng-star-inserted"> Deacon </option>
                                                                                                        <option value="F42EAE45-0299-4155-8BB8-DF6CD896CAD9" class="ng-star-inserted"> Host </option>
                                                                                                        <option value="5EBBBEF2-E07E-4959-A885-E9D261E51ACC" class="ng-star-inserted"> Parking Lot </option>
                                                                                                        <option value="1CD6725B-0F32-451A-B6FE-5873968A1007" class="ng-star-inserted"> Team Lead D.I.T </option>
                                                                                                        <option value="99156EB1-1B6C-4092-9ECC-C8DF4B01D1AB" class="ng-star-inserted"> Team Lead Yoke </option>
                                                                                                        <option value="94BF612D-6B92-465D-88FC-DE997E29CA91" class="ng-star-inserted"> Team Lead </option>
                                                                                                        <option value="F80D3500-DC89-4E92-9ED0-974471B03947" class="ng-star-inserted"> Sgt of Arms </option>
                                                                                                        <option value="99EEA380-DA26-40CC-AB19-7EEF79432BE8" class="ng-star-inserted"> Security </option>                                                                                                       
                                                                                                        <!---->
                                                                                                    </select>
                                                                                                    <!----><!----><!----><!----><!----><!---->
                                                                                                </nz-input-group>
                                                                                            </div>
                                                                                        </div>
                                                                                        <!----><!---->
                                                                                    </nz-form-control>
                                                                                </nz-form-item>
                                                                               </div>
                                                                                <div class="controls">
                                                                                    <nz-form-item class="ant-form-item ant-row">
                                                                                        <nz-form-control nzerrortip="Please input state!"
                                                                                                         class="ant-form-item-control ng-tns-c630436078-13 ant-col ng-star-inserted">
                                                                                            <div class="ant-form-item-control-input ng-tns-c630436078-13">
                                                                                                <div class="ant-form-item-control-input-content ng-tns-c630436078-13">
                                                                                                    <nz-input-group class="ng-tns-c630436078-13 ant-input-group">
                                                                                                        <select name="DeaconTitle"
                                                                                                                tabindex="2"
                                                                                                                formcontrolname="DeaconTitle"
                                                                                                                nz-select=""
                                                                                                                placeholder="Deacon Title"
                                                                                                                class="span6 form-control">
                                                                                                            <option value="7AF85F53-668E-47D2-969D-09B88F5C3F39" class="ng-star-inserted"> Deacon </option>
                                                                                                            <option value="AE7E8799-A674-4D64-8BD8-2563CAFB60D9" class="ng-star-inserted"> Yokefellow </option>
                                                                                                            <option value="E90A3F91-E5DD-4F5F-915B-7EDFA1B0DF1E" class="ng-star-inserted"> D.I.T </option>
                                                                                                            <option value="be9dc678-f136-4673-954e-c6598f6b7dfe" class="ng-star-inserted"> Deacon Spouse </option>
                                                                                                            <!---->
                                                                                                        </select>
                                                                                                        <!----><!----><!----><!----><!----><!---->
                                                                                                    </nz-input-group>
                                                                                                </div>
                                                                                            </div>
                                                                                            <!----><!---->
                                                                                        </nz-form-control>
                                                                                    </nz-form-item>
                                                                                </div>
                                                                            </div>
                                                                            <div class="control-group">
                                                                                <div class="controls">
                                                                                    <input type="text" formcontrolname="FirstName" autocomplete="off" role="presentation" class="form-control" placeholder="First Name" />
                                                                                </div>
                                                                                <div class="controls">
                                                                                    <nz-form-item class="ant-form-item ant-row">
                                                                                        <nz-form-control nzerrortip="Please input last name!"
                                                                                                         class="ant-form-item-control ng-tns-c630436078-2 ant-col ng-star-inserted">
                                                                                            <div class="ant-form-item-control-input ng-tns-c630436078-2">
                                                                                                <div class="ant-form-item-control-input-content ng-tns-c630436078-2">
                                                                                                    <nz-input-group class="ng-tns-c630436078-2 ant-input-group">
                                                                                                        <input placeholder="Last Name"
                                                                                                               tabindex="4"
                                                                                                               type="text"
                                                                                                               formcontrolname="clientLastName"
                                                                                                               autocomplete="off"
                                                                                                               role="presentation"
                                                                                                               nz-input=""
                                                                                                               class="ant-input span6 form-control" />
                                                                                                    </nz-input-group>
                                                                                                </div>
                                                                                            </div>
                                                                                        </nz-form-control>
                                                                                    </nz-form-item>
                                                                                </div>
                                                                            </div>
                                                                         </fieldset>
                                                                         <div class="col-md-12">
                                                                             <fieldset>
                                                                                 <div class="control-group">
                                                                                     <h4 class="title">Address</h4>
                                                                                 </div>
                                                                                 <div class="control-group">

                                                                                     <div class="controls">
                                                                                         <nz-form-item class="ant-form-item ant-row">
                                                                                             <nz-form-control nzerrortip="Please input street address!"
                                                                                                              class="ant-form-item-control ng-tns-c630436078-10 ant-col ng-star-inserted">
                                                                                                 <div class="ant-form-item-control-input ng-tns-c630436078-10">
                                                                                                     <div class="ant-form-item-control-input-content ng-tns-c630436078-10">
                                                                                                         <nz-input-group class="ng-tns-c630436078-10 ant-input-group">
                                                                                                             <input ngx-gp-autocomplete=""
                                                                                                                    tabindex="9"
                                                                                                                    type="text"
                                                                                                                    formcontrolname="streetAddress"
                                                                                                                    autocomplete="off"
                                                                                                                    role="presentation"
                                                                                                                    nz-input=""
                                                                                                                    class="ant-input span6 form-control"
                                                                                                                    placeholder="Address" />
                                                                                                         </nz-input-group>
                                                                                                     </div>
                                                                                                 </div>
                                                                                                 <!----><!---->
                                                                                             </nz-form-control>
                                                                                         </nz-form-item>
                                                                                     </div>
                                                                                 </div>
                                                                                 <div class="control-group">

                                                                                     <div class="controls">
                                                                                         <nz-form-item class="ant-form-item ant-row">
                                                                                             <nz-form-control class="ant-form-item-control ng-tns-c630436078-11 ant-col ng-star-inserted">
                                                                                                 <div class="ant-form-item-control-input ng-tns-c630436078-11">
                                                                                                     <div class="ant-form-item-control-input-content ng-tns-c630436078-11">
                                                                                                         <nz-input-group class="ng-tns-c630436078-11 ant-input-group">
                                                                                                             <input placeholder="Address2 (Optional)"
                                                                                                                    tabindex="10"
                                                                                                                    type="text"
                                                                                                                    formcontrolname="streetAddress2"
                                                                                                                    autocomplete="off"
                                                                                                                    role="presentation"
                                                                                                                    nz-input=""
                                                                                                                    class="ant-input span6 form-control" />
                                                                                                         </nz-input-group>
                                                                                                     </div>
                                                                                                 </div>
                                                                                                 <!----><!---->
                                                                                             </nz-form-control>
                                                                                         </nz-form-item>
                                                                                     </div>
                                                                                 </div>
                                                                                 <div class="control-group">

                                                                                     <div class="controls">
                                                                                         <nz-form-item class="ant-form-item ant-row">
                                                                                             <nz-form-control nzerrortip="Please input city!"
                                                                                                              class="ant-form-item-control ng-tns-c630436078-12 ant-col ng-star-inserted">
                                                                                                 <div class="ant-form-item-control-input ng-tns-c630436078-12">
                                                                                                     <div class="ant-form-item-control-input-content ng-tns-c630436078-12">
                                                                                                         <nz-input-group class="ng-tns-c630436078-12 ant-input-group">
                                                                                                             <input placeholder="City"
                                                                                                                    tabindex="11"
                                                                                                                    type="text"
                                                                                                                    formcontrolname="city"
                                                                                                                    autocomplete="off"
                                                                                                                    role="presentation"
                                                                                                                    nz-input=""
                                                                                                                    class="ant-input span6 form-control" />
                                                                                                         </nz-input-group>
                                                                                                     </div>
                                                                                                 </div>
                                                                                             </nz-form-control>
                                                                                         </nz-form-item>
                                                                                     </div>

                                                                                     <div class="controls">
                                                                                         <nz-form-item class="ant-form-item ant-row">
                                                                                             <nz-form-control nzerrortip="Please input state!"
                                                                                                              class="ant-form-item-control ng-tns-c630436078-13 ant-col ng-star-inserted">
                                                                                                 <div class="ant-form-item-control-input ng-tns-c630436078-13">
                                                                                                     <div class="ant-form-item-control-input-content ng-tns-c630436078-13">
                                                                                                         <nz-input-group class="ng-tns-c630436078-13 ant-input-group">
                                                                                                             <select name="AddressState"
                                                                                                                     tabindex="12"
                                                                                                                     formcontrolname="state"
                                                                                                                     nz-select=""
                                                                                                                     placeholder="State/Province"
                                                                                                                     class="span6 form-control">
                                                                                                                 <option value="AK" class="ng-star-inserted"> Alaska </option>
                                                                                                                 <option value="AL" class="ng-star-inserted"> Alabama </option>
                                                                                                                 <option value="AR" class="ng-star-inserted"> Arkansas </option>
                                                                                                                 <option value="AZ" class="ng-star-inserted"> Arizona </option>
                                                                                                                 <option value="CA" class="ng-star-inserted"> California </option>
                                                                                                                 <option value="CO" class="ng-star-inserted"> Colorado </option>
                                                                                                                 <option value="CT" class="ng-star-inserted"> Connecticut </option>
                                                                                                                 <option value="DE" class="ng-star-inserted"> Delaware </option>
                                                                                                                 <option value="FL" class="ng-star-inserted"> Florida </option>
                                                                                                                 <option value="GA" class="ng-star-inserted"> Georgia </option>
                                                                                                                 <option value="HI" class="ng-star-inserted"> Hawaii </option>
                                                                                                                 <option value="IA" class="ng-star-inserted"> Iowa </option>
                                                                                                                 <option value="ID" class="ng-star-inserted"> Idaho </option>
                                                                                                                 <option value="IL" class="ng-star-inserted"> Illinois </option>
                                                                                                                 <option value="IN" class="ng-star-inserted"> Indiana </option>
                                                                                                                 <option value="KS" class="ng-star-inserted"> Kansas </option>
                                                                                                                 <option value="KY" class="ng-star-inserted"> Kentucky </option>
                                                                                                                 <option value="LA" class="ng-star-inserted"> Louisiana </option>
                                                                                                                 <option value="MA" class="ng-star-inserted"> Massachusetts </option>
                                                                                                                 <option value="MD" class="ng-star-inserted"> Maryland </option>
                                                                                                                 <option value="ME" class="ng-star-inserted"> Maine </option>
                                                                                                                 <option value="MI" class="ng-star-inserted"> Michigan </option>
                                                                                                                 <option value="MN" class="ng-star-inserted"> Minnesota </option>
                                                                                                                 <option value="MO" class="ng-star-inserted"> Missouri </option>
                                                                                                                 <option value="MS" class="ng-star-inserted"> Mississippi </option>
                                                                                                                 <option value="MT" class="ng-star-inserted"> Montana </option>
                                                                                                                 <option value="NC" class="ng-star-inserted"> North Carolina </option>
                                                                                                                 <option value="ND" class="ng-star-inserted"> North Dakota </option>
                                                                                                                 <option value="NE" class="ng-star-inserted"> Nebraska </option>
                                                                                                                 <option value="NH" class="ng-star-inserted"> New Hampshire </option>
                                                                                                                 <option value="NJ" class="ng-star-inserted"> New Jersey </option>
                                                                                                                 <option value="NM" class="ng-star-inserted"> New Mexico </option>
                                                                                                                 <option value="NV" class="ng-star-inserted"> Nevada </option>
                                                                                                                 <option value="NY" class="ng-star-inserted"> New York </option>
                                                                                                                 <option value="OH" class="ng-star-inserted"> Ohio </option>
                                                                                                                 <option value="OK" class="ng-star-inserted"> Oklahoma </option>
                                                                                                                 <option value="OR" class="ng-star-inserted"> Oregon </option>
                                                                                                                 <option value="PA" class="ng-star-inserted"> Pennsylvania </option>
                                                                                                                 <option value="RI" class="ng-star-inserted"> Rhode Island </option>
                                                                                                                 <option value="SC" class="ng-star-inserted"> South Carolina </option>
                                                                                                                 <option value="SD" class="ng-star-inserted"> South Dakota </option>
                                                                                                                 <option value="TN" class="ng-star-inserted"> Tennessee </option>
                                                                                                                 <option value="TX" class="ng-star-inserted"> Texas </option>
                                                                                                                 <option value="UT" class="ng-star-inserted"> Utah </option>
                                                                                                                 <option value="VA" class="ng-star-inserted"> Virginia </option>
                                                                                                                 <option value="VT" class="ng-star-inserted"> Vermont </option>
                                                                                                                 <option value="WA" class="ng-star-inserted"> Washington </option>
                                                                                                                 <option value="WI" class="ng-star-inserted"> Wisconsin </option>
                                                                                                                 <option value="WV" class="ng-star-inserted"> West Virginia </option>
                                                                                                                 <option value="WY" class="ng-star-inserted"> Wyoming </option>
                                                                                                                 <!---->
                                                                                                             </select>
                                                                                                             <!----><!----><!----><!----><!----><!---->
                                                                                                         </nz-input-group>
                                                                                                     </div>
                                                                                                 </div>
                                                                                                 <!----><!---->
                                                                                             </nz-form-control>
                                                                                         </nz-form-item>
                                                                                     </div>
                                                                                 </div>                                       

                                                                                   

                                                                             </fieldset>
                                                                         </div>
                                                                     </div>
                                                                     <div class="col-lg-6 col-md-12 p-0">
                                                                         <fieldset>
                                                                             <div class="control-group">
                                                                                 <h4 class="title">Deacon Contact Information</h4>
                                                                             </div>
                                                                             <div class="control-group">
                                                                                 <div class="controls">
                                                                                     <nz-form-item class="ant-form-item ant-row">
                                                                                         <nz-form-control nzerrortip="Please input home phone!"
                                                                                                          class="ant-form-item-control ng-tns-c630436078-15 ant-col ng-star-inserted">
                                                                                             <div class="ant-form-item-control-input ng-tns-c630436078-15">
                                                                                                 <div class="ant-form-item-control-input-content ng-tns-c630436078-15">
                                                                                                     <nz-input-group class="ng-tns-c630436078-15 ant-input-group">
                                                                                                         <input place
                                                                                                                tabindex="16"
                                                                                                                type="text"
                                                                                                                mask="(000) 000-0000"
                                                                                                                maxlength="14"
                                                                                                                minlength="10"
                                                                                                                placeholder="Home Phone"
                                                                                                                formcontrolname="homePhone"
                                                                                                                autocomplete="off"
                                                                                                                role="presentation"
                                                                                                                nz-input=""
                                                                                                                class="ant-input span6 form-control" />
                                                                                                         <!----><!----><!----><!----><!----><!----><!---->
                                                                                                     </nz-input-group>
                                                                                                 </div>
                                                                                             </div>
                                                                                             <!----><!---->
                                                                                         </nz-form-control>
                                                                                     </nz-form-item>
                                                                                 </div>
                                                                                 <div class="controls">
                                                                                     <nz-form-item class="ant-form-item ant-row">
                                                                                         <nz-form-control nzerrortip="Please input mobile phone!"
                                                                                                          class="ant-form-item-control ng-tns-c630436078-16 ant-col ng-star-inserted">
                                                                                             <div class="ant-form-item-control-input ng-tns-c630436078-16">
                                                                                                 <div class="ant-form-item-control-input-content ng-tns-c630436078-16">
                                                                                                     <nz-input-group class="ng-tns-c630436078-16 ant-input-group">
                                                                                                         <input tabindex="17"
                                                                                                                mask="(000) 000-0000"
                                                                                                                maxlength="14"
                                                                                                                minlength="10"
                                                                                                                placeholder="Mobile Phone"
                                                                                                                type="text"
                                                                                                                formcontrolname="mobilePhone"
                                                                                                                autocomplete="off"
                                                                                                                role="presentation"
                                                                                                                nz-input=""
                                                                                                                class="ant-input span6 form-control" />
                                                                                                         <!----><!----><!----><!----><!----><!----><!---->
                                                                                                     </nz-input-group>
                                                                                                 </div>
                                                                                             </div>
                                                                                             <!----><!---->
                                                                                         </nz-form-control>
                                                                                     </nz-form-item>
                                                                                 </div>
                                                                             </div>
                                                                             <div class="control-group">                                          
                                                                                 <div class="controls">
                                                                                     <nz-form-item class="ant-form-item ant-row">
                                                                                         <nz-form-control nzerrortip="Please input email!"
                                                                                                          class="ant-form-item-control ng-tns-c630436078-17 ant-col ng-star-inserted">
                                                                                             <div class="ant-form-item-control-input ng-tns-c630436078-17">
                                                                                                 <div class="ant-form-item-control-input-content ng-tns-c630436078-17">
                                                                                                     <nz-input-group class="ng-tns-c630436078-17 ant-input-group">
                                                                                                         <input tabindex="19"
                                                                                                                type="text"
                                                                                                                placeholder="Email"
                                                                                                                formcontrolname="email"
                                                                                                                autocomplete="off"
                                                                                                                role="presentation"
                                                                                                                nz-input=""
                                                                                                                class="ant-input span6 form-control" />
                                                                                                         <!----><!----><!----><!----><!----><!----><!---->
                                                                                                     </nz-input-group>
                                                                                                 </div>
                                                                                             </div>
                                                                                             <!----><!---->
                                                                                         </nz-form-control>
                                                                                     </nz-form-item>
                                                                                 </div>
                                                                             </div>                                                                             
                                                                             
                                                                         </fieldset>
                                                                         <div class="col-md-12 mt-1">
                                                                             <fieldset>
                                                                                 <div class="control-group">
                                                                                     <h4 class="title">Emergency Contact</h4>
                                                                                 </div>
                                                                                 <div class="control-group">

                                                                                     <div class="controls">
                                                                                         <nz-input-group class="ant-input-group">
                                                                                             <input placeholder="Full Name"
                                                                                                    tabindex="24"
                                                                                                    type="text"
                                                                                                    name="EmergencyContactFullName"
                                                                                                    formcontrolname="clientEmergencyContactFullName"
                                                                                                    autocomplete="off"
                                                                                                    role="presentation"
                                                                                                    nz-input=""
                                                                                                    class="ant-input span6 form-control" />
                                                                                             <!----><!----><!----><!----><!----><!----><!---->
                                                                                         </nz-input-group>
                                                                                     </div>

                                                                                     <div class="controls">
                                                                                         <nz-input-group class="ant-input-group">
                                                                                             <input tabindex="25"
                                                                                                    type="text"
                                                                                                    mask="(000) 000-0000"
                                                                                                    maxlength="14"
                                                                                                    minlength="10"
                                                                                                    placeholder="Phone"
                                                                                                    name="EmergencyContactPhoneNumber"
                                                                                                    formcontrolname="clientEmergencyContactPhoneNumber"
                                                                                                    autocomplete="off"
                                                                                                    role="presentation"
                                                                                                    nz-input=""
                                                                                                    class="ant-input span6 form-control" />
                                                                                         </nz-input-group>
                                                                                     </div>
                                                                                 </div>
                                                                                 <div class="control-group">
                                                                                     <div class="controls">
                                                                                         <nz-input-group class="ant-input-group">
                                                                                             <input placeholder="Relationship"
                                                                                                    tabindex="26"
                                                                                                    type="text"
                                                                                                    name="EmergencyContactRelationship"
                                                                                                    formcontrolname="clientEmergencyContactRelationship"
                                                                                                    autocomplete="off"
                                                                                                    role="presentation"
                                                                                                    nz-input=""
                                                                                                    class="ant-input span6 form-control" />
                                                                                         </nz-input-group>
                                                                                     </div>
                                                                                     <div class="controls">&nbsp;</div>
                                                                                 </div>
                                                                             </fieldset>
                                                                         </div>
                                                                         <div class="col-md-12">
                                                                             <fieldset>
                                                                                 <div class="control-group">
                                                                                     <h4 class="title">Additional Notes</h4>
                                                                                 </div>
                                                                                 <div class="control-group">
                                                                                     <div class="controls">
                                                                                         <nz-input-group class="ant-input-group">
                                                                                             <nz-textarea-count class="ant-input-textarea-show-count ng-star-inserted" data-count="0/3000">
                                                                                                 <textarea tabindex="27"
                                                                                                           rows="10"
                                                                                                           name="Notes"
                                                                                                           formcontrolname="clientNotes"
                                                                                                           nz-input=""
                                                                                                           class="ant-input span6 form-control"></textarea>

                                                                                             </nz-textarea-count>

                                                                                         </nz-input-group>
                                                                                     </div>

                                                                                 </div>                                                                            
                                                                             </fieldset>
                                                                         </div>
                                                                     </div>
                                                                 </div>
                                                             </div>
                                                         </div>
                                                     </fieldset>
                                                 </div>                                              
                                                
                                                 <!---->
                                             </div>                                          
                                         </div>
                                     </div>
                                 </div>
                             </div>
                         </section>
                         <!---->
                     </app-client>
                     <!---->
                 </div>
             </div>
         </div>
         <!----><!---->
     </div>
    </body>
@code {

}
