@using Deacons.Hybrid.Mobile.Components.Pages
@using Deacons.Hybrid.Mobile.Components.UserForm

@inject Deacons.Hybrid.Shared.Interface.IUsersService users
<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Deacons.Hybrid.Mobile</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="scheduler">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Event Scheduler
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link"  @onclick="@GoTo">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span>Edit User Form
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="userdetails">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> User Details
            </NavLink>
        </div>
         <div class="nav-item px-3">
            <NavLink class="nav-link" @onclick="@GoToGrid">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> User Grid
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private void GoTo()
    {
        App.Current.MainPage.Navigation.PushModalAsync(new UserForm());
    }
    private void GoToGrid()
    {
        App.Current.MainPage.Navigation.PushModalAsync(new UsersGrid(users));
    }
}